<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Roman Numeral | Home</title>
  <meta name="description" content="Roman Numeral | Error">
  <meta name="author" content="Conor Richees">
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Roman Numerals <small>by Conor Riches</small></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 section">
				<h1>Sorry, there was an error...</h1>
				<h3>Is the URL correct?</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">

			</div>
		</div>
	</div>

	<script src="javascripts/romanNumerals.js"></script>
</body>
</html>
